# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=ISLAMIC DIGITAL COIN Daemon SNAP
Comment=main
GenericName=ISLAMIC_DIGITAL_COIN Digital Currency Daemon Client main network
Exec=islamic_digital_coin-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/islamic_digital_coin.png
MimeType=x-scheme-handler/idc;
Categories=X-Office;X-Finance;
Keywords=internet;islamic_digital_coin;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
