# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=ISLAMIC DIGITAL COIN
Comment=ISLAMIC DIGITAL COIN QT test network
GenericName=ISLAMIC_DIGITAL_COIN Digital Currency QT client testnet network
Exec=islamic_digital_coin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/islamic_digital_coin_testnet.png
MimeType=x-scheme-handler/idc;
Categories=X-Office;X-Finance;
Keywords=internet;islamic_digital_coin;tidc;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
